body {
	background: black;
}

/* for home/email/about/contact buttons */
.parent {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	border-bottom: 1px solid white;
	background: black;
	top: 0;
}

.parent button {
	margin: 1.1%;
	padding: 1%;
	border-radius: 50%;
	font-size: 160%;
	background-color: white;
	position: sticky;
}

/* light/dark slider*/
.moonSun {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 0.5%;
	top: 12.5%;
	position: sticky;
}

body.light {
	background: white;
}

.light .parent {
	background-color: white;
	border-bottom: 1px solid black;
}

.light .home h1 {
	color: black;
}

.light .home p {
	color: black;
}

.light .home p2 {
	color: black;
}

.light .profile h2 {
	color: black;
}

.light .socialMedia {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.light .footer h3 {
	color: black;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	display: flex;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 1px;
	border-radius: 50px;
	border: 1px solid black;
	height: 26px;
	width: 50px;
}

.ball {
	width: 23.5px;
	height: 23px;
	background-color: black;
	position: absolute;
	border-radius: 50%;
	top: 2px;
	left: 2px;
	transition: transform 0.25s linear;
}

.checkbox:checked + .label .ball {
	transform: translate(24px);
}

.fa-sun-o {
	color: rgb(245, 151, 11);
}
/* end of light/dark slider */

/* start of hover effect */
.parent button:hover {
	animation: pulsate 3s ease-in-out infinite;
	background-color: white;
	color: black;
	border: none;
}

.parent button:hover:nth-child(2) {
	animation: pulsate 3s ease-in-out infinite;
}

.parent button:hover:nth-child(3) {
	animation: pulsate 3s ease-in-out infinite;
}

.parent button:hover:nth-child(4) {
	animation: pulsate 3s ease-in-out infinite;
}

@keyframes pulsate {
	0% {
		box-shadow: 0 0 25px #67d6f5, 0 0 50px #9765e0;
	}
}
/* end of hover effect */

/*animation for neon navbar/parent starts here*/
.parent button {
	color: #fff;
	animation: first_color 0.5s ease-in-out infinite alternate;
	border: 1px solid #ff1177;
}

.parent button:nth-child(2) {
	animation-name: second_color;
	border: 1px solid #1877f2;
}

.parent button:nth-child(3) {
	animation-name: third_color;
	border: 1px solid #25d366;
}

.parent button:nth-child(4) {
	animation-name: forth_color;
	border: 1px solid #9418ce;
}

@keyframes first_color {
	0% {
		text-shadow: 0 0 10px #ff1177, 0 0 20px #d6249f, 0 0 30px #285aeb;
	}

	100% {
		text-shadow: 0 0 5px #ff1177, 0 0 10px #d6249f, 0 0 15px #285aeb;
	}
}

@keyframes second_color {
	0% {
		text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff;
	}

	100% {
		text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff;
	}
}

@keyframes third_color {
	0% {
		text-shadow: 0 0 10px #25d366, 0 0 20px #48ee85, 0 0 30px #0ec0a5;
	}

	100% {
		text-shadow: 0 0 5px #25d366, 0 0 10px #48ee85, 0 0 15px #0ec0a5;
	}
}

@keyframes forth_color {
	0% {
		text-shadow: 0 0 10px #9418ce, 0 0 20px #9630c5, 0 0 30px #aa66ca;
	}

	100% {
		text-shadow: 0 0 5px #9418ce, 0 0 10px #9630c5, 0 0 15px #aa66ca;
	}
}
/* end of animation*/

h1 {
	color: whitesmoke;
	letter-spacing: 5pt;
	font-size: 330%;
	margin-bottom: 0.8%;
	font-family: "Orbitron", sans-serif;
}

p {
	color: white;
	letter-spacing: 0.5pt;
	font-size: 130%;
	margin-top: 1%;
	font-style: italic;
	font-weight: bold;
	font-family: "Parisienne", cursive;
}

p2 {
	color: white;
	letter-spacing: 1.2pt;
	font-size: 140%;
	font-family: "Orbitron", sans-serif;
}

.home {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 10%;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
	margin-bottom: 5%;
	font-size: 150%;
	color: white;
}

#icon1 {
	margin-left: 8%;
	margin-right: 2%;
	color: rgb(255, 0, 43);
}

#icon2 {
	margin-left: 7%;
	margin-right: 4.5%;
	padding-left: 6%;
	color: orange;
}

#icon3 {
	margin-left: 4%;
	margin-right: 4%;
	padding-left: 4%;
	color: rgb(4, 129, 31);
}

.profile {
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 100%;
	color: white;
	margin: 8%;
	line-height: 250%;
	font-family: "Orbitron", sans-serif;
	letter-spacing: 0.6px;
}

.image {
	border-radius: 50%;
	margin: 9%;
	max-width: 26%;
	max-height: 50%;
	height: auto;
}

/* social media section */
.socialMedia {
	display: flex;
	justify-content: center;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.icon {
	color: #fff;
	animation: first_color 0.5s ease-in-out infinite alternate;
	padding: 1%;
	margin: 0.5%;
	font-size: 120%;
}

.icon:nth-child(2) {
	animation-name: second_color;
}

.icon:nth-child(3) {
	animation-name: third_color;
}

/* social media section ends */

/* footer section */
.footer {
	display: flex;
	text-align: center;
	padding: 0.65% 0% 0.5% 0%;
	color: white;
	font-size: 50%;
	letter-spacing: 2.5px;
	justify-content: center;
	font-family: "Orbitron", sans-serif;
}

/* screen sizing */
@media screen and (max-width: 768px) {
	.profile {
		flex-direction: column;
		justify-content: center;
		word-wrap: break-word;
		font-size: 80%;
		text-align: center;
	}
	.home h1 {
		font-size: 290%;
	}
	.home p {
		font-size: 110%;
	}
	.home p2 {
		font-size: 115%;
	}
	.icons {
		font-size: 140%;
	}
	.parent button {
		font-size: 145%;
	}
	#icon1 {
		margin-left: 2%;
		margin-right: 20%;
	}
	#icon2 {
		margin-left: 4%;
		margin-right: 2%;
		padding-left: 3%;
	}
	#icon3 {
		margin-left: 15%;
		margin-right: 2%;
		padding-left: 8%;
	}
}

@media screen and (max-width: 640px) {
	.profile {
		flex-direction: column;
		justify-content: center;
		font-size: 60%;
	}
	.home h1 {
		font-size: 250%;
	}
	.home p {
		font-size: 110%;
	}
	.home p2 {
		font-size: 100%;
	}
	.parent button {
		font-size: 140%;
	}
	.icons {
		font-size: 110%;
	}
	#icon1 {
		margin-left: 2%;
		margin-right: 20%;
	}
	#icon2 {
		margin-left: 4%;
		margin-right: 2%;
		padding-left: 3%;
	}
	#icon3 {
		margin-left: 15%;
		margin-right: 2%;
		padding-left: 8%;
	}
}
